$font-family:"Raleway", sans-serif;
$font-color: #000;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}


%header__container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    position: relative;
}

@mixin font($font-size, $line-height, $color, $font-family)
{
    font-size:$font-size;
    line-height:$line-height;
    color:$color;
    font-family:$font-family;
}

.header
{
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    @media (max-width:767px) {
        padding: 21.39px 0 21.39px;
    }

    .container
    {
        @extend %header__container;
        border-bottom: 1px solid #BABBC5;

        @media (max-width:767px) {
            border-bottom: 0;
        }
    }
    &__wrapper--logo
    {
        width: 183.86px;
        display: flex;

        @media (max-width:767px) {
            width: 103.47px;
        }
    }
    & svg
    {
        width: 100%;
    }

    &__menu
    {
        display: none;

        @media (max-width:767px) {
            background: none;
            border: none;
            display: flex;
        }
    }
}
.nav{
        @media (max-width:767px) {
            display: none;
    }
    
    &__items
    {
        display: flex;
        align-items: center;

        @media (max-width:1024px) {
            column-gap: 10px;
        }

        @media (max-width:767px) {
                display: none;
        }
    }
    &__item
    {
        text-align: center;
        list-style-type: none;
    }
    &__item--link
    {
        @include font(13px, 15px, #FFFFFF, $font-family);
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        font-weight: 700;
        padding: 44px 0 37px;
        display: block;
        min-width: 134px;
        border-bottom: 3px solid transparent; 

        &:hover
        {
            border-bottom: 3px solid #BABBC5;
            transition: border-bottom .5s linear;
        }

        &:active
        {
            border-bottom: 3px solid #E71414;
            color: #E71414;
            transition: border-bottom .5s linear, color .5s linear;
        }

        @media (max-width:1024px) {
            min-width: max-content;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__menu
    {
        display: none;
        border: none;
        background: none;

        @media (max-width:767px) {
            display: flex;
        }
    }
}

%banner__container
{
    position: relative;
    text-align: center;
}
.banner
{
    padding: 237px 0 120px;
    background: url(../media/1.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 109px;

    &::before
    {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #252B49, $alpha: 0.8);
        position: absolute;
        left: 0;
        top:0;
    }

    @media (max-width:1024px) {
        padding: 257px 0 126px;
    }
    @media (max-width:767px) {
        padding: 106px 0 52px;
    }

    .container
    {
        @extend %banner__container;
    }
    &__title
    {
        @include font(64px, 75px, #FFFFFF, $font-family);
        text-transform: uppercase;
        margin-bottom: 31.43px;
        font-weight: 900;
        font-weight: 900;

        @media (max-width:1024px) {
            @include font(48px, 56px, #FFFFFF, $font-family);
        }

        @media (max-width:767px) {
            @include font(36px, 42px, #FFFFFF, $font-family);
        }
    }
    &__text
    {
        @include font(24px, 28px, #FFFFFF, $font-family);
        font-weight: 400;
        width: 100%;
        margin: 0 auto 80.57px;
        max-width: 999px;

        @media (max-width:1024px) {
            @include font(18px, 21px, #FFFFFF, $font-family);
            max-width: 984px;
        }

        @media (max-width:767px) {
            @include font(14px, 16px, #FFFFFF, $font-family);
            max-width: 100%;
        }
    }
    &__btn
    {
        @include font(24px, 28px, #FFFFFF, $font-family);
        font-weight: 900;
        background-color: #FF4343;
        padding: 26px 0 26px;
        max-width: 370px;
        width: 100%;
        border: none;
        text-transform: uppercase;
        cursor: pointer;

        &:hover
        {
            background-color: #E71414;
            transition: background-color .5s linear;
        }

        &:active
        {
            background-color: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
            transition: box-shadow .5s linear, background-color .5s linear;
        }

        @media (max-width:1024px) {
            max-width: 313.15px;
            padding: 24.5px 0 24.5px;
        }

        @media (max-width:767px) {
            max-width: 100%;
            max-width: 100%;
            padding: 15px 0 15px;
        }
    }
}

%about__container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:88px 29px;
}

.about
{
    margin-bottom: 133.57px;

    .container
    {
        @extend %about__container;

        @media (max-width:767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 41.46px;
        }
    }

    &__wrapper-logo
    {
        width: 100px;
        height: 100px;
        margin: 0 auto 49.61px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:1024px) {
            height: 85px;
            width: 85px;
        }
        @media (max-width:767px) {
            display: flex;
            justify-content: center;
            width: 75px;
            height: 75px;
        }

        & svg
        {
            max-width: 100%;
            max-height: 100%
        }
    }
    
    &__title
    {
        @include font(24px, 28px, #000000, $font-family);
        font-weight: 900;
        margin-bottom: 43.43px;
        text-transform: uppercase;

        @media (max-width:1024px) {
            @include font(18px, 21px, #000000, $font-family);
        }
    }

    &__text
    {
        @include font(18px, 21px, #6C7279, $font-family);

        @media (max-width:1024px) {
            @include font(14px, 16px, #6C7279, $font-family);
        }
    }
}

.design
{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap:2px;
    margin-bottom: 114px;

    @media (max-width:767px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__wrapper--image
    {
        position: relative;
		padding-top: 90%;
    }

    &__img{
		object-fit: cover;		
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

    &__content{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;

		&:hover{
			opacity: 1;
			display: flex;
            background:  rgba($color: #FF4343, $alpha: 0.8);
            transition: background .3s linear;
		}
        &:active{
			opacity: 1;
			display: flex;
            background:  rgba($color: #B90C0C, $alpha: 0.8);
            transition: background .4s linear;
		}
	}
    &__title{
		@include font(24px, 28px, #fff, $font-family);
        font-weight: 900;
		margin-bottom: 47px;
		text-transform: uppercase;

        @media (max-width:1024px) {
            @include font(18px, 21px, #fff, $font-family);
            margin-bottom: 12.81px;
        }

        @media (max-width:767px) {
            margin-bottom: 4.63px;
        }
	}

	&__text{
		@include font(18px, 21px, #fff, $font-family);
        text-transform: capitalize;

        @media (max-width:1024px) {
            @include font(14px, 16px, #fff, $font-family);
        }
	}
}

%rewies__container
{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap:0 30px;
    margin-bottom: 114px;

    @media (max-width:767px) {
        display: flex;
        flex-direction: column;
        row-gap: 49.39px;
        align-items: center;
    }
}

.rewies
{
    margin-bottom: 114px;

    .container
    {
        @extend %rewies__container;
    }

    &__wrapper-item
    {
        @media (max-width:767px) {
            max-width: 270px;
        }
    }

    &__wrapper--image
    {
        max-width: 270px;
        height: 270px;
        overflow: hidden;
        margin-bottom: 30px;

        @media (max-width:1024px) {
            max-width: 227.08px;
            height: 227.08px;
            margin-bottom: 25.23px;
        }

        @media (max-width:767px) {
            max-width: 280px;
            height: 227.25px;
            margin-bottom:25.25px;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__name
    {
        @include font(24px, 28px, #000000, $font-family);
        margin-bottom: 5.29px;
        text-align: left;
        text-transform: capitalize;
        font-weight: 700;

        @media (max-width:1024px) {
            @include font(18px, 21px, #000000, $font-family);
            margin-bottom: 4.6px;
        }
    }

    &__profession
    {
        @include font(18px, 21px, #FF4343, $font-family);
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 17.86px;

        @media (max-width:1024px) {
            @include font(14px, 16px, #FF4343, $font-family);
            margin-bottom: 22.45px;
        }

        @media (max-width:767px) {
            margin-bottom: 38.49px;
        }
    }

    &__text
    {
        @include font(18px, 21px, #6C7279, $font-family);
        text-align: left;
        margin-bottom: 37.86px;

        @media (max-width:1024px) {
            @include font(14px, 16px, #6C7279, $font-family);
            margin-bottom: 39.2px;
        }

        @media (max-width:767px) {
            margin-bottom: 55.15px;
        }
    }

    &__wrapper--icon
    {
        display: flex;
        column-gap: 6px;

        @media (max-width:1024px) {
            column-gap: 4.21px;
         }
         @media (max-width:767px) {
            column-gap: 6.09px;
         }
    }

    &__icon
    {

        & svg
        {
            max-width: 100%;
            max-height: 100%;
        }
        @media (max-width:1024px) {
           width: 32.8px;
           height: 32.8px;
        }

        @media (max-width:767px) {
            width: 39.61px;
            height: 39.61px;
        }
    }
}

.slider
{
    display: flex;
    margin-bottom: 114px;
    background-color: #5C3249;

    @media (max-width:767px) {
       flex-direction: column;
    }

    &__wrapper-img
    {
        width: 49%;
        overflow: hidden;
    }

    &__img{
		object-fit: cover;		
		width: 100%;
		height: 100%;
	}

    &__wrapper-text
    {
        width: 51%;
        padding: 132px 0 123px 130px;

        @media (max-width:1024px) {
            padding: 91px 10px 110.07px 88px;
        }
    }
    &__text
    {
        max-width: 471px;
        font-size: 36px;
        line-height: 49px;
        color: #fff;
        font-family: "Cardo", sans-serif;
        font-style: italic;
        text-transform: capitalize;
        margin-bottom: 24px;

        @media (max-width:1024px) {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
        }
        @media (max-width:767px) {
            /*font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;*/
        }
    }
    &__footnote
    {
        @include font(13px, 15px, #fff, $font-family);
        font-weight: 700;
        text-transform: uppercase;

        @media (max-width:1024px) {
            @include font(12px, 14px, #fff, $font-family);
        }
        @media (max-width:767px) {
            /* @include font(13px, 15px, #fff, $font-family);*/
        }
    }
}

.download
{
    text-align: center;
    margin-bottom: 114px;

    &__title
    {
        @include font(16px, 19px, #000, $font-family);
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 29.29px;

        @media (max-width:1024px) {
            @include font(24px, 28px, #000, $font-family);
        }
        @media (max-width:767px) {
            @include font(18px, 21px, #000, $font-family);
        }
    }

    &__text
    {
        @include font(18px, 21px, #000, $font-family);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 48.71px;

        @media (max-width:1024px) {
            @include font(14px, 16px, #000, $font-family);
        }
        @media (max-width:767px) {
            @include font(13px, 25px, #000, $font-family);
        }
    }
    &__btn
    {
        @include font(24px, 28px, #FFFFFF, $font-family);
        font-weight: 900;
        background-color: #FF4343;
        padding: 26px 0 26px;
        max-width: 370px;
        width: 100%;
        border: none;
        text-transform: uppercase;
        cursor: pointer;

        &:hover
        {
            background-color: #E71414;
            transition: background-color .5s linear;
        }

        &:active
        {
            background-color: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
            transition: box-shadow .5s linear, background-color .5s linear;
        }

        @media (max-width:1024px) {
            max-width: 313.15px;
            padding: 24.5px 0 24.5px;
        }

        @media (max-width:767px) {
            max-width: 100%;
            max-width: 100%;
            padding: 15px 0 15px;
        }
    }
}

%footer__container
{
    display: flex;
    column-gap: 30px;

    @media (max-width:767px) {
        flex-direction: column;
        row-gap: 58.91px;
        align-items: center;
    }
}
.footer
{
    background-color: #353C65;
    padding-top: 71.14px;

    @media (max-width:1024px) {
        padding-top: 46.59px;
    }

    @media (max-width:767px) {
        padding-top: 34px;
    }

    .container
    {
        @extend %footer__container;
    }

    &__wrapper--items
    {
        max-width: 370px;
        width: 100%;

        @media (max-width:1024px) {
            max-width: 315px;
        }
    
        @media (max-width:767px) {
            max-width: 100%;
        }
    }

    &__title
    {
        @include font(18px, 21px, #fff, $font-family); 
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 27.14px;     
        
        @media (max-width:1024px) {
            @include font(14px, 16px, #fff, $font-family);
            margin-bottom: 17.31px;   
        }
    
        @media (max-width:767px) {
            margin-bottom: 34.14px;
        }
    }
    &__text
    {
        @include font(18px, 21px, #fff, $font-family);
        text-transform: capitalize;

        @media (max-width:1024px) {
            @include font(14px, 16px, #fff, $font-family); 
        }
    }

    &__wrapper--icon
    {
        display: flex;
        column-gap: 26px;
        justify-content: center;
        margin-top: 48px;

        @media (max-width:1024px) {
            column-gap: 4.21px;
         }
         @media (max-width:767px) {
            column-gap: 6.09px;
         }
    }

    &__icon
    {
        & svg
        {
            max-width: 100%;
            max-height: 100%;
        }
        @media (max-width:1024px) {
           width: 32.8px;
           height: 32.8px;
        }

        @media (max-width:767px) {
            width: 39.61px;
            height: 39.61px;
        }
    }

    &__wrapper--item
    {
        margin-top: 67.14px;
        background-color: #2C3154;
        padding: 23.86px 0 24.14px;
        text-align: center;

        @media (max-width:1024px) {
            margin-top: 43.13px;  
            padding: 14.28px 0 14.43px;
        }
    
        @media (max-width:767px) {
            margin-top: 33.14px;
            padding: 29.86px 0 28.14px;
        }
    }
    &__developer
    {
        max-width: 370px;
        width: 100%;
        margin: 0 auto;
        @include font(18px, 21px, #808080, $font-family);
        text-transform: capitalize;

        @media (max-width:1024px) {
            max-width: 314px;
            @include font(14px, 16px, #808080, $font-family);
        }
    
        @media (max-width:767px) {
            max-width: 100%;
        }
    }
    &__span
    {
        color: #fff;
    }
}