* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  position: relative;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
@media (max-width: 767px) {
  .header {
    padding: 21.39px 0 21.39px;
  }
}
.header .container {
  border-bottom: 1px solid #BABBC5;
}
@media (max-width: 767px) {
  .header .container {
    border-bottom: 0;
  }
}
.header__wrapper--logo {
  width: 183.86px;
  display: flex;
}
@media (max-width: 1024px) {
  .header__wrapper--logo {
    width: 193.86px;
  }
}
@media (max-width: 767px) {
  .header__wrapper--logo {
    width: 103.47px;
  }
}
.header svg {
  width: 100%;
}
.header__menu {
  display: none;
}
@media (max-width: 767px) {
  .header__menu {
    background: none;
    border: none;
    display: flex;
  }
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}
.nav__items {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .nav__items {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (max-width: 767px) {
  .nav__items {
    display: none;
  }
}
.nav__item {
  text-align: center;
  list-style-type: none;
}
.nav__item--link {
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  font-weight: 700;
  padding: 44px 0 37px;
  display: block;
  min-width: 134px;
  border-bottom: 3px solid transparent;
}
.nav__item--link:hover {
  border-bottom: 3px solid #BABBC5;
  transition: border-bottom 0.5s linear;
}
.nav__item--link:active {
  border-bottom: 3px solid #E71414;
  color: #E71414;
  transition: border-bottom 0.5s linear, color 0.5s linear;
}
@media (max-width: 1024px) {
  .nav__item--link {
    min-width: -moz-max-content;
    min-width: max-content;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.nav__menu {
  display: none;
  border: none;
  background: none;
}
@media (max-width: 767px) {
  .nav__menu {
    display: flex;
  }
}

.banner .container {
  position: relative;
  text-align: center;
}

.banner {
  padding: 237px 0 120px;
  background: url(../media/1.jpg) center/cover no-repeat;
  position: relative;
  margin-bottom: 109px;
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
    margin-bottom: 81px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
  }
}
.banner__title {
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 31.43px;
  font-weight: 900;
  font-weight: 900;
}
@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    margin-bottom: 63px;
  }
}
@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
  }
}
.banner__text {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  width: 100%;
  margin: 0 auto 80.57px;
  max-width: 999px;
}
@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    max-width: 777px;
    margin: 0 auto 89.57px;
  }
}
@media (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    max-width: 100%;
  }
}
.banner__btn {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  background-color: #FF4343;
  padding: 26px 0 26px;
  max-width: 370px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.banner__btn:hover {
  background-color: #E71414;
  transition: background-color 0.5s linear;
}
.banner__btn:active {
  background-color: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
  transition: box-shadow 0.5s linear, background-color 0.5s linear;
}
@media (max-width: 1024px) {
  .banner__btn {
    max-width: 313.15px;
    padding: 24.5px 0 24.5px;
  }
}
@media (max-width: 767px) {
  .banner__btn {
    max-width: 100%;
    max-width: 100%;
    padding: 15px 0 15px;
  }
}

.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 88px 29px;
}
@media (max-width: 1024px) {
  .about .container {
    gap: 49px 12px;
  }
}

.about {
  margin-bottom: 133.57px;
}
@media (max-width: 1024px) {
  .about {
    margin-bottom: 81.57px;
  }
}
@media (max-width: 767px) {
  .about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 41.46px;
  }
}
.about__wrapper-logo {
  width: 100px;
  height: 100px;
  margin: 0 auto 49.61px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .about__wrapper-logo {
    height: 81px;
    width: 69px;
    margin: 0 auto 48.61px;
  }
}
@media (max-width: 767px) {
  .about__wrapper-logo {
    display: flex;
    justify-content: center;
    width: 75px;
    height: 75px;
  }
}
.about__wrapper-logo svg {
  max-width: 100%;
  max-height: 100%;
}
.about__title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  margin-bottom: 43.43px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .about__title {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-family: "Raleway", sans-serif;
    margin-bottom: 21.43px;
  }
}
.about__text {
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 1024px) {
  .about__text {
    font-size: 14px;
    line-height: 16px;
    color: #6C7279;
    font-family: "Raleway", sans-serif;
  }
}

.design {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  margin-bottom: 114px;
}
@media (max-width: 1024px) {
  .design {
    margin-bottom: 79px;
  }
}
@media (max-width: 767px) {
  .design {
    grid-template-columns: repeat(2, 1fr);
  }
}
.design__wrapper--image {
  position: relative;
  padding-top: 90%;
}
.design__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.design__content {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.design__content:hover {
  opacity: 1;
  display: flex;
  background: rgba(255, 67, 67, 0.8);
  transition: background 0.3s linear;
}
.design__content:active {
  opacity: 1;
  display: flex;
  background: rgba(185, 12, 12, 0.8);
  transition: background 0.4s linear;
}
.design__title {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  margin-bottom: 47px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .design__title {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-bottom: 12.81px;
  }
}
@media (max-width: 767px) {
  .design__title {
    margin-bottom: 4.63px;
  }
}
.design__text {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .design__text {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: "Raleway", sans-serif;
  }
}

.rewies .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 30px;
  margin-bottom: 114px;
}
@media (max-width: 1024px) {
  .rewies .container {
    padding: 0 19px;
    gap: 0 24px;
  }
}
@media (max-width: 767px) {
  .rewies .container {
    display: flex;
    flex-direction: column;
    row-gap: 49.39px;
    align-items: center;
  }
}

.rewies {
  margin-bottom: 114px;
}
@media (max-width: 767px) {
  .rewies__wrapper-item {
    max-width: 270px;
  }
}
.rewies__wrapper--image {
  max-width: 270px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .rewies__wrapper--image {
    max-width: 234.08px;
    height: 225.08px;
    margin-bottom: 27.23px;
  }
}
@media (max-width: 767px) {
  .rewies__wrapper--image {
    max-width: 280px;
    height: 227.25px;
    margin-bottom: 25.25px;
  }
}
.rewies__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rewies__name {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5.29px;
  text-align: left;
  text-transform: capitalize;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .rewies__name {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-family: "Raleway", sans-serif;
    margin-bottom: 7.6px;
  }
}
.rewies__profession {
  font-size: 18px;
  line-height: 21px;
  color: #FF4343;
  font-family: "Raleway", sans-serif;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 17.86px;
}
@media (max-width: 1024px) {
  .rewies__profession {
    font-size: 14px;
    line-height: 16px;
    color: #FF4343;
    font-family: "Raleway", sans-serif;
    margin-bottom: 22.45px;
  }
}
@media (max-width: 767px) {
  .rewies__profession {
    margin-bottom: 38.49px;
  }
}
.rewies__text {
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  font-family: "Raleway", sans-serif;
  text-align: left;
  margin-bottom: 37.86px;
}
@media (max-width: 1024px) {
  .rewies__text {
    font-size: 14px;
    line-height: 16px;
    color: #6C7279;
    font-family: "Raleway", sans-serif;
    margin-bottom: 39.2px;
  }
}
@media (max-width: 767px) {
  .rewies__text {
    margin-bottom: 55.15px;
  }
}
.rewies__wrapper--icon {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
@media (max-width: 1024px) {
  .rewies__wrapper--icon {
    -moz-column-gap: 4.21px;
         column-gap: 4.21px;
  }
}
@media (max-width: 767px) {
  .rewies__wrapper--icon {
    -moz-column-gap: 6.09px;
         column-gap: 6.09px;
  }
}
.rewies__icon svg {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1024px) {
  .rewies__icon {
    width: 32.8px;
    height: 32.8px;
  }
}
@media (max-width: 767px) {
  .rewies__icon {
    width: 39.61px;
    height: 39.61px;
  }
}

.slider {
  display: flex;
  margin-bottom: 114px;
  background-color: #5C3249;
}
@media (max-width: 1024px) {
  .slider {
    margin-bottom: 180px;
  }
}
@media (max-width: 767px) {
  .slider {
    flex-direction: column;
  }
}
.slider__wrapper-img {
  width: 49%;
  overflow: hidden;
}
.slider__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.slider__wrapper-text {
  width: 51%;
  padding: 132px 0 123px 130px;
}
@media (max-width: 1024px) {
  .slider__wrapper-text {
    padding: 27px 10px 66.07px 89px;
    width: 43%;
  }
}
.slider__text {
  max-width: 471px;
  font-size: 36px;
  line-height: 49px;
  color: #fff;
  font-family: "Cardo", sans-serif;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .slider__text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .slider__text {
    /*font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;*/
  }
}
.slider__footnote {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .slider__footnote {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-family: "Raleway", sans-serif;
  }
}
@media (max-width: 767px) {
  .slider__footnote {
    /* @include font(13px, 15px, #fff, $font-family);*/
  }
}

.download {
  text-align: center;
  margin-bottom: 114px;
}
.download__title {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 29.29px;
}
@media (max-width: 1024px) {
  .download__title {
    font-size: 24px;
    line-height: 28px;
    color: #000;
    font-family: "Raleway", sans-serif;
  }
}
@media (max-width: 767px) {
  .download__title {
    font-size: 18px;
    line-height: 21px;
    color: #000;
    font-family: "Raleway", sans-serif;
  }
}
.download__text {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 48.71px;
}
@media (max-width: 1024px) {
  .download__text {
    font-size: 14px;
    line-height: 16px;
    color: #000;
    font-family: "Raleway", sans-serif;
  }
}
@media (max-width: 767px) {
  .download__text {
    font-size: 13px;
    line-height: 25px;
    color: #000;
    font-family: "Raleway", sans-serif;
  }
}
.download__btn {
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  background-color: #FF4343;
  padding: 26px 0 26px;
  max-width: 370px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.download__btn:hover {
  background-color: #E71414;
  transition: background-color 0.5s linear;
}
.download__btn:active {
  background-color: #FF4343;
  box-shadow: 4px 4px 30px #FF4343;
  transition: box-shadow 0.5s linear, background-color 0.5s linear;
}
@media (max-width: 1024px) {
  .download__btn {
    max-width: 313.15px;
    padding: 24.5px 0 24.5px;
  }
}
@media (max-width: 767px) {
  .download__btn {
    max-width: 100%;
    max-width: 100%;
    padding: 15px 0 15px;
  }
}

.footer .container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  .footer .container {
    flex-direction: column;
    row-gap: 58.91px;
    align-items: center;
  }
}

.footer {
  background-color: #353C65;
  padding-top: 71.14px;
}
@media (max-width: 1024px) {
  .footer {
    padding-top: 46.59px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 34px;
  }
}
.footer__wrapper--items {
  max-width: 370px;
  width: 100%;
}
@media (max-width: 1024px) {
  .footer__wrapper--items {
    max-width: 315px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper--items {
    max-width: 100%;
  }
}
.footer__title {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27.14px;
}
@media (max-width: 1024px) {
  .footer__title {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-bottom: 17.31px;
  }
}
@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 34.14px;
  }
}
.footer__text {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: "Raleway", sans-serif;
  }
}
.footer__wrapper--icon {
  display: flex;
  -moz-column-gap: 26px;
       column-gap: 26px;
  justify-content: center;
  margin-top: 48px;
}
@media (max-width: 1024px) {
  .footer__wrapper--icon {
    -moz-column-gap: 4.21px;
         column-gap: 4.21px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper--icon {
    -moz-column-gap: 6.09px;
         column-gap: 6.09px;
  }
}
.footer__icon svg {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1024px) {
  .footer__icon {
    width: 32.8px;
    height: 32.8px;
  }
}
@media (max-width: 767px) {
  .footer__icon {
    width: 39.61px;
    height: 39.61px;
  }
}
.footer__wrapper--item {
  margin-top: 67.14px;
  background-color: #2C3154;
  padding: 23.86px 0 24.14px;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer__wrapper--item {
    margin-top: 43.13px;
    padding: 14.28px 0 14.43px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper--item {
    margin-top: 33.14px;
    padding: 29.86px 0 28.14px;
  }
}
.footer__developer {
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .footer__developer {
    max-width: 314px;
    font-size: 14px;
    line-height: 16px;
    color: #808080;
    font-family: "Raleway", sans-serif;
  }
}
@media (max-width: 767px) {
  .footer__developer {
    max-width: 100%;
  }
}
.footer__span {
  color: #fff;
}/*# sourceMappingURL=style.css.map */