$primary-font-family:"Raleway", sans-serif;
$secondary-font-family:"Cardo", sans-serif;
$font-color: #000;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width:767px) {
        padding: 0 20px;
    }
}

@keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  

  @keyframes logo-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

%header__container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    position: relative;
    padding: 0 20px;
}

@mixin font($font-size, $line-height, $color, $primary-font-family)
{
    font-size:$font-size;
    line-height:$line-height;
    color:$color;
    font-family:$primary-font-family;
}

.header
{
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;

    @media (max-width:767px) {
        padding: 15.39px 0 15.39px;
    }

    .container
    {
        @extend %header__container;
        border-bottom: 1px solid #BABBC5;

        @media (max-width:767px) {
            border-bottom: 0;
            padding: 0 20px;
            column-gap: 30px;
        }
    }
    &__logo
    {
        width: 183.86px;
        display: flex;
        animation: logo-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

    @media (max-width:1024px) {
        width: 193.86px;
    }
        @media (max-width:767px) {
            width: 103.47px;
        }
    }
    & svg
    {
        max-width: 100%;
    }

    &__menu
    {
        display: none;

        @media (max-width:767px) {
            background: none;
            border: none;
            display: flex;
            padding: 0 15px;
        }
    }
}
.nav{
        @media (max-width:767px) {
            display: none;
    }
    
    &__items
    {
        display: flex;
        align-items: center;

        @media (max-width:1024px) {
            column-gap: 24px;
        }

        @media (max-width:767px) {
                display: none;
        }
    }
    &__item
    {
        text-align: center;
        list-style-type: none;
    }
    &__link
    {
        @include font(13px, 15px, #FFFFFF, $primary-font-family);
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        font-weight: 700;
        padding: 44px 0 37px;
        display: block;
        min-width: 134px;
        border-bottom: 3px solid transparent; 
        transition: all .5s linear;

        &:hover
        {
            border-bottom: 3px solid #BABBC5;
        }

        &:active
        {
            border-bottom: 3px solid #E71414;
            color: #E71414;
        }

        @media (max-width:1024px) {
            min-width: max-content;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__menu
    {
        display: none;
        border: none;
        background: none;

        @media (max-width:767px) {
            display: flex;
        }
    }
}

%banner__container
{
    position: relative;
    text-align: center;
}
.banner
{
    padding: 230px 0 120px;
    background: url(../media/1.jpg) center/cover no-repeat;
    position: relative;
    margin-bottom: 116px;

    &::before
    {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #252B49, $alpha: 0.8);
        position: absolute;
        left: 0;
        top:0;
    }

    @media (max-width:1024px) {
        padding: 257px 0 126px;
        margin-bottom: 81px;
    }
    @media (max-width:767px) {
        padding: 106px 0 52px;
        margin-bottom: 46px;
    }

    .container
    {
        @extend %banner__container;
    }
    &__title
    {
        @include font(64px, 75px, #FFFFFF, $primary-font-family);
        text-transform: uppercase;
        margin-bottom: 31.43px;
        font-weight: 900;
        font-weight: 900;

        @media (max-width:1024px) {
            @include font(48px, 56px, #FFFFFF, $primary-font-family);
            margin-bottom: 63px;
        }

        @media (max-width:767px) {
            @include font(36px, 42px, #FFFFFF, $primary-font-family);
            margin-bottom: 33px;
        }
    }
    &__text
    {
        @include font(24px, 28px, #FFFFFF, $primary-font-family);
        font-weight: 400;
        width: 100%;
        margin: 0 auto 80.57px;
        max-width: 999px;

        @media (max-width:1024px) {
            @include font(18px, 21px, #FFFFFF, $primary-font-family);
            max-width: 777px;
            margin: 0 auto 89.57px
        }

        @media (max-width:767px) {
            @include font(14px, 16px, #FFFFFF, $primary-font-family);
            max-width: 100%;
            margin-bottom: 66px;
        }
    }
    &__btn
    {
        @include font(24px, 28px, #FFFFFF, $primary-font-family);
        font-weight: 900;
        background-color: #FF4343;
        padding: 26px 0 26px;
        max-width: 370px;
        width: 100%;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .5s linear;

        &:hover
        {
            background-color: #E71414;
        }

        &:active
        {
            background-color: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
        }

        @media (max-width:1024px) {
            max-width: 313.15px;
            padding: 24.5px 0 24.5px;
        }

        @media (max-width:767px) {
            max-width: 100%;
            padding: 15px 0 15px;
        }
    }
}

%about__container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:88px 29px;
    text-align: center;

    @media (max-width:1024px) {
        gap: 49px 12px;
    }
}

.about
{
    margin-bottom: 133.57px;

    @media (max-width:1024px) {
        margin-bottom: 81.57px;
    }

    @media (max-width:767px) {
        margin-bottom: 39.57px;
    }

    .container
    {
        @extend %about__container;

        @media (max-width:767px) {
            grid-template-columns: 1fr;
        }
    }

    &__wrapper-logo
    {
        width: 100px;
        height: 100px;
        margin: 0 auto 49.61px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:1024px) {
            height: 81px;
            width: 69px;
            margin: 0 auto 48.61px
        }
        @media (max-width:767px) {
            width: 62px;
            height: 65px;
            margin: 0 auto 42.61px
        }

        & svg
        {
            max-width: 100%;
            max-height: 100%
        }
    }
    
    &__title
    {
        @include font(24px, 28px, #000000, $primary-font-family);
        font-weight: 900;
        margin-bottom: 43.43px;
        text-transform: uppercase;

        @media (max-width:1024px) {
            @include font(18px, 21px, #000000, $primary-font-family);
            margin-bottom: 21.43px;
        }
        @media (max-width:767px) {
            margin-bottom: 8.43px;
        }
    }

    &__text
    {
        @include font(18px, 21px, #6C7279, $primary-font-family);

        @media (max-width:1024px) {
            @include font(14px, 16px, #6C7279, $primary-font-family);
        }
    }
}

.design
{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap:2px;
    margin-bottom: 114px;

    @media (max-width:1024px) {
        margin-bottom: 79px;
    }

    @media (max-width:767px) {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 38px;
    }

    &__wrapper-img
    {
        position: relative;
		padding-top: 90%;

        @media (max-width:767px) {
            padding-top: 89%;
        }
    }

    &__img{
		object-fit: cover;	
		width: 100%;
		height: 100%;
		position: absolute;
        top: 0;
        left: 0;
	}

    &__content{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
        transition: all .3s linear;

		&:hover{
			opacity: 1;
			display: flex;
            background:  rgba($color: #FF4343, $alpha: 0.8);
		}
        &:active{
			opacity: 1;
			display: flex;
            background:  rgba($color: #B90C0C, $alpha: 0.8);
		}
	}
    &__title{
		@include font(24px, 28px, #fff, $primary-font-family);
        font-weight: 900;
		margin-bottom: 47px;
		text-transform: uppercase;

        @media (max-width:1024px) {
            @include font(18px, 21px, #fff, $primary-font-family);
            margin-bottom: 12.81px;
        }

        @media (max-width:767px) {
            margin-bottom: 4.63px;
        }
	}

	&__text{
		@include font(18px, 21px, #fff, $primary-font-family);
        text-transform: capitalize;

        @media (max-width:1024px) {
            @include font(14px, 16px, #fff, $primary-font-family);
        }
	}
}

%rewies__container
{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap:0 30px;

    @media (max-width:1024px) {
        padding: 0 19px;
        gap:0 24px;
    }

    @media (max-width:767px) {
        grid-template-columns: 1fr;
        row-gap: 49.39px;
    }
}

.rewies
{
    margin-bottom: 124px;

    @media (max-width:1024px) {
        margin-bottom: 77px;
    }

    @media (max-width:767px) {
        margin-bottom: 37px;
    }

    .container
    {
        @extend %rewies__container;
    }


    &__wrapper-img
    {
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        padding-top: 100%;

        @media (max-width:1024px) {
            margin-bottom: 26.23px;
            padding-top: 99%;
        }

        @media (max-width:767px) {
            margin-bottom:27.25px;
            padding-top: 81%;
        }
    }

    &__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__name
    {
        @include font(24px, 28px, #000000, $primary-font-family);
        margin-bottom: 7.29px;
        text-transform: capitalize;
        font-weight: 700;

        @media (max-width:1024px) {
            @include font(18px, 21px, #000000, $primary-font-family);
            margin-bottom: 6.6px;
        }
    }

    &__profession
    {
        @include font(18px, 21px, #FF4343, $primary-font-family);
        text-transform: uppercase;
        margin-bottom: 17.86px;

        @media (max-width:1024px) {
            @include font(14px, 16px, #FF4343, $primary-font-family);
            margin-bottom: 22.45px;
        }

        @media (max-width:767px) {
            margin-bottom: 38.49px;
        }
    }

    &__text
    {
        @include font(18px, 21px, #6C7279, $primary-font-family);
        margin-bottom: 37.86px;

        @media (max-width:1024px) {
            @include font(14px, 16px, #6C7279, $primary-font-family);
            margin-bottom: 40.2px;
        }

        @media (max-width:767px) {
            margin-bottom: 55.15px;
        }
    }

    &__wrapper-icon
    {
        display: flex;
        column-gap: 6px;

        @media (max-width:1024px) {
            column-gap: 5.21px;
         }
         @media (max-width:767px) {
            column-gap: 6.09px;
         }
    }

    &__icon
    {
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #C6CBCD;
        transition: all .5s linear;
        animation: heartbeat 2.5s ease-in-out infinite both;

        & path {
            transition: all .5s linear;
        }

        &:hover path{
            fill: #E71414;
        }
        &:hover{
            border: 1px solid #E71414;
            box-shadow: 0px 0px 30px #E71414;
        }

        &:active path{
            fill: #FF4343;
        }
        &:active{
            border: 1px solid #FF4343;
            box-shadow: 0px 0px 30px #FF4343;
        }

        @media (max-width:1024px) {
           width: 32.8px;
           height: 32.8px;
        }

        @media (max-width:767px) {
            width: 39.61px;
            height: 39.61px;
        }
    }
}

.swiper 
{
    margin-bottom: 121px;

    @media (max-width:1024px) {
        margin-bottom: 93px;
    }

    @media (max-width:767px) {
        margin-bottom: 52px;
    }
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal
{
    bottom: 0;
}
.swiper-pagination
{
    display: flex;
    column-gap: 25px;
    justify-content: center;

    @media (max-width:1024px) {
        column-gap: 17px;
    }
    @media (max-width:767px) {
        column-gap: 12px;
    }
}
.swiper-pagination-bullet
{
    width: 14px;
    height: 14px;
    border: 1px solid #7E5D6F;
    background-color: transparent;
    opacity: 1;

    @media (max-width:1024px) {
        width: 10px;
        height: 10px;
    }
}
.swiper-pagination-bullet-active
{
    background-color: #7E5D6F;
}
.slider
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 45px;

    @media (max-width:1024px) {
        margin-bottom: 34px;
    }

    @media (max-width:767px) {
        display: flex;
        flex-direction: column;
    }

    &__wrapper-img
    {
        position: relative;
        padding-top: 65%;
        overflow: hidden;

        @media (max-width:767px) {
            width: 100%;
        }
    }

    &__img{
        position: absolute;
        top: 0;
        left: 0;
		object-fit: cover;		
		width: 100%;
		height: 100%;
	}

    &__wrapper-text
    {
        display: flex;
        background-color: #5C3249;
        padding: 44px 10px 30px 125px;
        flex-direction: column;
        justify-content: center;

        @media (max-width:1024px) {
            padding: 10px 10px 59px 78px;
        }

        @media (max-width:767px) {
            text-align: center;
            padding: 27px 22px 100px 19px;
            width: 100%;
        }
    }
    &__text
    {
        @include font(36px, 49px, #fff, $secondary-font-family);
        max-width: 471px;
        width: 100%;
        font-style: italic;
        text-transform: capitalize;
        margin-bottom: 24px;

        @media (max-width:1024px) {
            @include font(24px, 32px, #fff, $secondary-font-family);
            margin-bottom: 15px;
            max-width: 330px;
        }
        @media (max-width:767px) {
            max-width: 100%;
            margin-bottom: 28px;
        }
    }
    &__author
    {
        @include font(13px, 15px, #fff, $primary-font-family);
        font-weight: 700;
        text-transform: uppercase;
        max-width: 471px;
        width: 100%;

        @media (max-width:1024px) {
            @include font(12px, 14px, #fff, $primary-font-family);
            text-align: left;
        }
    }
}

.download
{
    text-align: center;
    margin-bottom: 114px;

    @media (max-width:1024px) {
        margin-bottom: 80px;
    }

    @media (max-width:767px) {
        margin-bottom: 45px;
    }

    &__title
    {
        @include font(30px, 35px, #000, $primary-font-family);
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 22.29px;

        @media (max-width:1024px) {
            @include font(24px, 28px, #000, $primary-font-family);
        }
        @media (max-width:767px) {
            @include font(18px, 21px, #000, $primary-font-family);
            margin-bottom: 20.29px;
        }
    }

    &__text
    {
        @include font(18px, 21px, #000, $primary-font-family);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 48.71px;

        @media (max-width:1024px) {
            @include font(14px, 16px, #000, $primary-font-family);
            margin-bottom: 44.71px;
        }
        @media (max-width:767px) {
            @include font(13px, 15px, #000, $primary-font-family);
            margin-bottom: 13.71px;
        }
    }
    &__btn
    {
        @include font(24px, 28px, #FFFFFF, $primary-font-family);
        font-weight: 900;
        background-color: #FF4343;
        padding: 26px 0 26px;
        max-width: 370px;
        width: 100%;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .5s linear;

        &:hover
        {
            background-color: #E71414;
            animation: shake-bottom 1.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }

        &:active
        {
            background-color: #FF4343;
            box-shadow: 4px 4px 30px #FF4343;
        }

        @media (max-width:1024px) {
            @include font(18px, 21px, #FFFFFF, $primary-font-family);
            max-width: 313.15px;
            padding: 27.5px 0 27.5px;
        }

        @media (max-width:767px) {
            max-width: 100%;
            padding: 28px 0 28px
        }
    }
}

%footer__container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    text-align: center;

    @media (max-width:767px) {
        grid-template-columns: 1fr;
        row-gap: 59.91px;
    }
}
.footer
{
    background-color: #353C65;
    padding-top: 71.14px;

    @media (max-width:1024px) {
        padding-top: 46.59px;
    }

    @media (max-width:767px) {
        padding-top: 34px;
    }

    .container
    {
        @extend %footer__container;
    }

    &__title
    {
        @include font(18px, 21px, #fff, $primary-font-family); 
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 27.14px;     
        
        @media (max-width:1024px) {
            @include font(14px, 16px, #fff, $primary-font-family);
            margin-bottom: 17.31px;   
        }
    
        @media (max-width:767px) {
            margin-bottom: 34.14px;
        }
    }
    &__text
    {
        @include font(18px, 21px, #fff, $primary-font-family);
        text-transform: capitalize;

        @media (max-width:1024px) {
            @include font(14px, 16px, #fff, $primary-font-family); 
        }
    }

    &__wrapper-icon
    {
        display: flex;
        column-gap: 26px;
        justify-content: center;
        margin-top: 48px;

        @media (max-width:1024px) {
            margin-top: 32px;
            column-gap: 23.21px;
         }
         @media (max-width:767px) {
            column-gap: 16.09px;
            margin-top: 46px;
         }
    }

    &__icon
    {
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #C6CBCD;
        transition: all .5s linear;
        animation: heartbeat 2.5s ease-in-out infinite both;

        & path {
            transition: all .5s linear;
        }

        &:hover path{
            fill: #E71414;
        }
        &:hover{
            border: 1px solid #E71414;
            box-shadow: 0px 0px 30px #E71414;
        }

        &:active path{
            fill: #FF4343;
        }
        &:active{
            border: 1px solid #FF4343;
            box-shadow: 0px 0px 30px #FF4343;
        }

        @media (max-width:1024px) {
           width: 32.8px;
           height: 32.8px;
        }

        @media (max-width:767px) {
            width: 33.61px;
            height: 33.61px;
        }
    }
    
    &__container-developer
    {
        margin: 0 auto;
        max-width: 385px;
        width: 100%;
        padding: 0 15px;

        @media (max-width:1024px) {
            max-width: 341px;
        }
    }
    &__wrapper-developer
    {
        margin-top: 67.14px;
        background-color: #2C3154;
        padding: 24.86px 0 24.14px;
        text-align: center;

        @media (max-width:1024px) {
            margin-top: 43.13px;  
            padding: 12.28px 0 14.28px;
        }
    
        @media (max-width:767px) {
            margin-top: 37.14px;
            margin-top: 39.14px;
            padding: 30.86px 0 28.14px;
        }
    }
    &__developer
    {
        @include font(18px, 21px, #808080, $primary-font-family);
        text-transform: capitalize;

        @media (max-width:1024px) {
             @include font(14px, 16px, #808080, $primary-font-family);
        }
    
        @media (max-width:767px) {
            max-width: 100%;
        }
    }
    &__span
    {
        color: #fff;
    }
}